<div class="row text-center">
  <div class="col-lg-4 col-sm-12 my-2">
    <div class="view overlay rounded z-depth-1 py-2">
      <i class="fas fa-home mb-2"></i> <button routerLink="/home" mdbBtn color="blue">home</button>
    </div>
  </div>
  <div class="col-lg-4 col-sm-12">
    <div class="view overlay rounded z-depth-1 py-2">
      <i class="fas fa-box mb-2"></i> <button routerLink="/material" mdbBtn color="blue">material</button>
    </div>
  </div>
  <div class="col-lg-4 col-sm-12">
    <div class="view overlay rounded z-depth-1 py-2">
      <i class="fas fa-user mb-2"></i> <button routerLink="/customer" mdbBtn color="blue">customer</button>
    </div>
  </div>
</div>
